<html>
  <head>
    <title>Dinder</title>
    <script src="/static/scripts/lib/jquery.min.js"></script>
    <script src="/static/scripts/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css"/>
  </head>
  <body>
      <div class="nav">
          <div class ="row" style="height: 95%; background-image: linear-gradient(to right, #FD297B, #FF5864, #FF655B)">
            <img style="height: 118%" src="/static/dinder.jpg" alt="Dinder">
            <h2 style="font-size: 80; color: #424242; font-family: 
            Chalet New York 1980; font-style: italic; display: inline; margin-left:1%; ">dinder</h2>
            <h2 style="font-size: 20; color: #424242; font-family: 
            Chalet New York 1970; text-align:right;; display: inline; margin-left:.25%">Match.Cook.Chill</h2> 
          </div>
          <div class ="row" style="height: 20%; background-image: linear-gradient(to right, #FD297B, #FF5864, #FF655B)"></div>
        <div class="main-body" style="margin-left: 2%">
          <h3>What is Dinder?</h3>
          <p> With 30 billion matches to date, Dinder® is the world’s most popular app for meeting new fellow chefs. Think of us as your most dependable culinary wingmate—wherever you go, we’ll be there. If you’re here to meet new chefs, discover new recipies, create culinary masterpieces, or just eat other people's food, you’ve come to the right place. We’re called “the world’s tasties app” for a reason: we spark more than 26 million matches per day. How many matching apps do that?</p>
          <p> Match. Chat. Dook. Dinder is easy and fun—use the Swipe Right™ feature to Like someone, use the Swipe Left™ feature to pass. If someone likes you back, It’s a Match! We invented the double opt-in so that two people will only match when there’s a mutual interest and skill. No stress. No rejection. Just tap through the profiles you’re interested in, chat online with your matches, then step away from your phone, meet up in the real world and spark something new.</p>
          <p> Welcome to Dinder—the largest, hottest community of singles chefs in the world. Don’t be shy, come on over.</p><br>
          
          <div class="row">
              <div class="column" style=" float: left; width: 48%; margin-left: .5%">
                  <img style="width: 100%" src="/static/food_tinder.png" alt="Dinder">
              </div>
              <div class="column" style="float: right; width: 48%; margin-right: 2%" >
                <h1>User Authentication</h1>
                <p>No account Yet? Sign up now!</p>
                  <a class="btn" href="/account/signup" style="width: 80%; border-radius: 8px; border: 1.5px solid #ddd ">Signup</a>
                  <p>Already have an account? Log in Now!</p>
                  <a class="btn" href="/account/login" style="width: 80%; border-radius: 8px; border: 1.5px solid #ddd ">Log in</a>
              </div>
          </div>          
        </div>
    </div>
    </div>
  </body>
</html>
