<html>
  <head>
    <title>Log in page</title>
        <link rel="stylesheet" type="text/css" href="/static/styles/styles.css"/>
  </head>
  <body>
      <div class="nav">
          <div class ="row" style="height: 95%; background-image: linear-gradient(to right, #FD297B, #FF5864, #FF655B)">
            <img style="height: 118%" src="/static/dinder.jpg" alt="Dinder">
            <h2 style="font-size: 80; color: #424242; font-family: 
            Chalet New York 1980; font-style: italic; display: inline; margin-left:1%; ">dinder</h2>
            <h2 style="font-size: 20; color: #424242; font-family: 
            Chalet New York 1970; text-align:right;; display: inline; margin-left:.25%">Match.Cook.Chill</h2> 
          </div>
          <div class ="row" style="height: 20%; background-image: linear-gradient(to right, #FD297B, #FF5864, #FF655B)"></div>
        </div>
        <div class="column" style=" float: left; width: 40%; margin-left: 2%;">
            <h1>Log in</h1>
            <form method="POST">
              Username: <br />
              <input type="text" name="username" /> <br />
              Password: <br />
              <input type="password" name="password" /> <br />
              <button type="submit" style="font-family: 'New York'; margin-top: 2%">Log In</button><br >
            </form>
        </div>
        <div class="column" style=" float: left; width: 40%;">
            <img style="margin-top: 2%" src="/static/gordon.jpg">
            <b style="text-align: center; font-size: 30px">This could be you!</b>
        </div>
    </div>
    
    
    
  </body>
</html>
