<html>
  <head>
    <title>Profile cuisines</title>
  </head>
  <body>
    <form method="POST">
      <H2>Cuisines</H2>
      <p>What types of cuisines can you cook?</p>
      <button type="submit">Update</button>
      <div class="row">
          <div class="column" style=" float: left; width: 45%;">
              <input type="checkbox" name="cuisines" value="American"> American<br>
              <input type="checkbox" name="cuisines" value="Chinese"> Chinese<br>
              <input type="checkbox" name="cuisines" value="Greek"> Greek<br>
              <input type="checkbox" name="cuisines" value="Indian"> Indian<br>
              <input type="checkbox" name="cuisines" value="Korean"> Korean<br>
              <input type="checkbox" name="cuisines" value="Mexican"> Mexican<br>
              <input type="checkbox" name="cuisines" value="Soul"> Soul<br>
              <input type="checkbox" name="cuisines" value="Thai"> Thai<br>
          </div>
          <div class="column" style="float: right; width: 45%;" >
              <input type="checkbox" name="cuisines" value="Cajun"> Cajun<br>
              <input type="checkbox" name="cuisines" value="French"> French<br>
              <input type="checkbox" name="cuisines" value="Italian"> Italian<br>
              <input type="checkbox" name="cuisines" value="Japanese"> Japanese<br>
              <input type="checkbox" name="cuisines" value="Mediterranean"> Mediterranean<br>
              <input type="checkbox" name="cuisines" value="Peruvian"> Peruvian<br>
              <input type="checkbox" name="cuisines" value="Spanish"> Spanish<br>
              <input type="checkbox" name="cuisines" value="Vietnamese"> Vietnamese<br>
          </div>
      </div>
    </form>
  </body>
</html>
