<html>
  <head>
    <title>Profile appliances</title>
  </head>
  <body>
    <form method="POST">
      <H2>Appliances</H2>
      <p>What types of appliances do you own?</p>
      <button type="submit">Update</button>
      <div class="row">
          <div class="column" style=" float: left; width: 45%;">
              <input type="checkbox" name="appliances" value="Rice"> Rice<br>
              <input type="checkbox" name="applinaces" value="Fryer"> Fryer<br>
              <input type="checkbox" name="appliances" value="Beater"> Beater<br>
          </div>
          <div class="column" style="float: right; width: 45%;" >
          </div>
      </div>
    </form>
  </body>
</html>
