<html>
  <head>
    <title>Profile skills</title>
  </head>
  <body>
    <form method="POST">
      <H2>Skills</H2>
      <p>What types of skills do you have?</p>
      <button type="submit">Update</button>
      <div class="row">
          <div class="column" style=" float: left; width: 45%;">
              <input type="checkbox" name="skills" value="Steaming"> Steaming<br>
              <input type="checkbox" name="skills" value="Boiling"> Boiling<br>
              <input type="checkbox" name="skills" value="Frying"> Frying<br>
          </div>
          <div class="column" style="float: right; width: 45%;" >
          </div>
      </div>
    </form>
  </body>
</html>
