<html>
  <head>
    <title>Profile Skills</title>
  </head>
  <body>
    <form method="POST">
      <H2>Skills</H2>
      <p>What types of skills do you have?</p>
      <button type="submit">Update</button>
      <div class="row">
          <div class="column" style=" float: left; width: 45%;">
              <input type="checkbox" name="skills" value="Baking"> Baking<br>
              <input type="checkbox" name="skills" value="Blending"> Blending<br>
              <input type="checkbox" name="skills" value="Boiling"> Boiling<br>
              <input type="checkbox" name="skills" value="Cutting"> Cutting<br>
              <input type="checkbox" name="skills" value="Dicing"> Decorating<br>
              <input type="checkbox" name="skills" value="Dicing"> Dicing<br>
              <input type="checkbox" name="skills" value="Frying"> Frying<br>
              <input type="checkbox" name="skills" value="Grilling"> Grilling<br>
              <input type="checkbox" name="skills" value="Kneading"> Kneading<br>
              <input type="checkbox" name="skills" value="Microwaving"> Microwaving<br>
              <input type="checkbox" name="skills" value="Mixing"> Mixing<br>
              <input type="checkbox" name="skills" value="Roasting"> Roasting<br>
              <input type="checkbox" name="skills" value="Sauteeing"> Sauteeing<br>
              <input type="checkbox" name="skills" value="Steaming"> Steaming<br>
              <input type="checkbox" name="skills" value="Stuffing"> Stuffing<br> 
          </div>
          <div class="column" style="float: right; width: 45%;" >
          </div>
      </div>
    </form>
  </body>
</html>
