<html>
  <head>
    <title>Sign up page</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <form method="POST">
      Username: <br />
      <input type="text" name="username" /> <br />
      Password: <br />
      <input type="password" name="password" /> <br />
      First Name: <br />
      <input type="text" name="firstName" /> <br />
      Last Name: <br />
      <input type="text" name="lastName" /> <br />
      Age: <br />
      <input type="range" name="age" id="ageBar" min="1" max="100" value="50" oninput="showAge.value = ageBar.value">
      <output name="showAge" id="showAge">50</output><br>
      Gender: <br />
      <input type="radio" name="gender" value="male"> Male<br>
      <input type="radio" name="gender" value="female"> Female<br>
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
